<h1>Questions for test "<%= @test.title %>"</h1>
<table>
  <thead>
    <tr>
      <th>Title:</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.body %></td>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'Create new question', new_test_question_path(@test) %>
</p>
