<p>
  <%= current_year %>
  Alexander Arakcheyev
  <%= github_url('ArakcheyevAlex', 'TestGuru') %>
</p>

<p>
  Training project for online-school
  <%= link_to 'Thinknetica', 'http://thinknetica.com/', target: '_blank' %>
</p>
