<p><%= current_year %>
  Alexander Arakcheyev
  <%= link_to 'GitHub', 'https://github.com/ArakcheyevAlex/TestGuru', target: '_blank' %></p>
<p>Training project for online-school
<%= link_to 'Thinknetica', 'http://thinknetica.com/', target: '_blank' %>
</p>
